<div id="carousel" class="carousel slide" data-ride="carousel" data-interval="6000">
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active">
      <div class="progress-number">
        01
        <div class="bar">
          <div class="in"></div>
        </div>
      </div>
    </li>
    <li data-target="#carousel" data-slide-to="1">
      <div class="progress-number">
        02
        <div class="bar">
          <div class="in"></div>
        </div>
      </div>
    </li>
    <li data-target="#carousel" data-slide-to="2">
      <div class="progress-number">
        03
        <div class="bar">
          <div class="in"></div>
        </div>
      </div>
    </li>
  </ol>

  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="carousel-caption">
        <div class="slide-1-border">
          <h1 class="animation-top-to-bottom">International Public Speaking Summit</h1>
          <p class="animation-top-to-bottom">The Federation based in India, founded in June 2016.</p>
          <a href="../../assets/brochure.pdf" target="_blank"><span class="btn btn-sm btn-outline-secondary animation-top-to-bottom">Download Event Brochure</span></a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-caption justify-content-center align-items-center">
        <div class="slide-2-border">
          <h1 class="animation-top-to-bottom">Our partner Countries</h1>
          <p class="animation-top-to-bottom">Extended to various countries in Asia, Africa, Australia and Europe.</p>
          <span class="btn btn-sm btn-outline-secondary animation-top-to-bottom" routerLink="/about-us">Know more about us</span>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <picture>
      </picture>
      <div class="carousel-caption justify-content-center align-items-center">
        <div class="slide-3-border">
          <h1 class="animation-top-to-bottom">Our Team</h1>
          <p class="animation-top-to-bottom">We have a diverse group of people from different parts of India.</p>
          <span class="btn btn-sm btn-outline-secondary animation-top-to-bottom" routerLink="/team">Learn More</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="timer-section">
  <div class="container section-heading">Event date: '2021-01-08'!</div>
  <div class="container outer-block">
    <div class="row">
      <div class="col-12">
        <app-timer enddate="'2021-01-08'"></app-timer>
      </div>
    </div>
  </div>
</div>

<div class="stats-section">
  <div class="container section-heading">Active Stats</div>
  <div class="container outer-block">
    <div class="row stats-block-padding">
      <div class="col-12 outer-stats-block">
        <div class="inner-stats-block">
          <span class="stats-number-text">11</span><span class="stats-static-text">NO. OF ACTIVE EVENTS</span>
        </div>
        <div class="inner-stats-block">
          <span class="stats-number-text">52</span><span class="stats-static-text">NO. OF MEMBERS</span>
        </div>
        <div class="inner-stats-block">
          <span class="stats-number-text">1762</span><span class="stats-static-text">NO. OF PARTICIPANTS</span>
        </div>
      </div>
    </div>
  </div>
</div> -->


<!-- <div class="our-method-section">
  <div class="container">
    <div class="active-stats">Our Method</div>
    <div class="row">
      <div class="col-md-4">
        <div class="bg-light position-relative px-3 my-5" style="background: rgb(174, 145, 50) !important;">
          <div
            class="font-weight-bold circle text-white rounded-circle d-flex align-items-center justify-content-center mx-auto position-relative border border-white"
            style="width: 60px;height: 60px;top: -30px;border-width: 4px !important; background-color: #9B5DE5">
            1
          </div>
          <div class="px-3 text-center pb-3">
            <h4>Headline</h4>
            <p class="font-weight-light my-3">Lorem ipsum dolor sit consectetur adipisicing elit. Alias amet
              deleniti et fugit iusto nesciunt.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="bg-light position-relative px-3 my-5" style="background: rgb(174, 145, 50) !important;">
          <div
            class="font-weight-bold circle text-white rounded-circle d-flex align-items-center justify-content-center mx-auto position-relative border border-white"
            style="width: 60px;height: 60px;top: -30px;border-width: 4px !important; background-color: #9B5DE5">
            2
          </div>
          <div class="px-3 text-center pb-3">
            <h4>Headline</h4>
            <p class="font-weight-light my-3">Lorem ipsum dolor sit consectetur adipisicing elit. Alias amet
              deleniti et fugit iusto nesciunt.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="bg-light position-relative px-3 my-5" style="background: rgb(174, 145, 50) !important;">
          <div
            class="font-weight-bold circle text-white rounded-circle d-flex align-items-center justify-content-center mx-auto position-relative border border-white"
            style="width: 60px;height: 60px;top: -30px;border-width: 4px !important; background-color: #9B5DE5">
            3
          </div>
          <div class="px-3 text-center pb-3">
            <h4>Headline</h4>
            <p class="font-weight-light my-3">Lorem ipsum dolor sit consectetur adipisicing elit. Alias amet
              deleniti et fugit iusto nesciunt.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div id="chartdiv" style="width: 100%; height: 500px; border: 1px solid red"></div> -->
