.carousel {
    min-height: 100vh;
  }

  .carousel-inner {
    min-height: 100vh;
  }
  
  .carousel-item {
    height: 95vh;
    transition: all 0.5s;
  }
  
  .carousel-item a {
    display: block;
    width:100%;
  }

  .carousel-item:nth-child(1) {
      background: url(../../assets/back_4.jpg);
      background-size: cover;
      background-position: top center;
  }

  .carousel-item:nth-child(2) {
    background: url(../../assets/back_1.jpg);
    background-size: cover;
    background-position: top center;
}

.carousel-item:nth-child(3) {
    background: url(../../assets/back_3.jpg);
    background-size: cover;
    background-position: top center;
}

.carousel-caption {
  left: 5%;
  text-align: left;
  bottom: -45px;
}

.carousel-indicators {
  margin-right: 1%;
  margin-left: 52%;
  margin-bottom: 3rem;
  justify-content: flex-end;
}

.carousel-indicators li {
  text-indent: 0px !important;
  background-color: transparent;
  width: 150px;
  height: 90px;
}

.carousel-indicators .active .progress-number {
  font-size: 46px !important;
  color: rgb(174, 145, 50);
}

.btn-outline-secondary {
  color: #ffffff;
  border-color: #ffffff;
  border-radius: 0px;
  padding: 0.75rem 1.25rem;
  text-transform: uppercase;
  font-size: 1rem;
  width: fit-content;
  font-weight: bold;
  margin-top: 1.5rem;
}

.btn-outline-secondary:hover {
  color: rgb(61, 64, 66);
  background-color: #ffffff;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

.progress-number {
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
}

.bar {
  border: 0.1px solid gray;
  height: 3px;
  width: 100%;
  border-radius: 5px;
  opacity: 0.75;
}
/* .bar .in {
  animation: fill 6s linear 1;
  height: 100%;
  background-color: rgb(174, 145, 50);
} */
.carousel-indicators .active .progress-number .bar .in {
  animation: fill 6s linear 1;
  height: 100%;
  background-color: rgb(174, 145, 50);
}

@keyframes fill {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .carousel-item:nth-child(1) {
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7468069698033708) 25%, rgba(0,0,0,0) 50%, rgba(255,255,255,0) 100%),  url(../../assets/back_4.jpg);
    background-size: cover;
    background-position: top center;
}

.carousel-item:nth-child(2) {
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7468069698033708) 25%, rgba(0,0,0,0) 50%, rgba(255,255,255,0) 100%),  url(../../assets/back_1.jpg);
  background-size: cover;
  background-position: top center;
}

.carousel-item:nth-child(3) {
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7468069698033708) 25%, rgba(0,0,0,0) 50%, rgba(255,255,255,0) 100%),  url(../../assets/back_3.jpg);
  background-size: cover;
  background-position: top center;
}

.carousel-item {
  height: 100vh;
}

.carousel-caption {
  left: 5%;
  text-align: left;
  top: 330px;
}

.carousel-indicators {
  margin-right: 3%;
  margin-left: 3%;
  margin-bottom: 0rem;
  justify-content: flex-end;
}

h1 {
  font-size: 2rem;
}

.carousel-indicators .active {
  position: absolute;
  left: 5%;
}

.carousel-indicators li {
  width: 80px;
  height: 70px;
}

.carousel-indicators li .progress-number .bar {
  display: none;
}

.carousel-indicators .active {
  width: 275px;
  height: 70px;
  bottom: 40px;
}

.bar {
  width: 135%;
}

.carousel-indicators .active .progress-number .bar {
  display: block;
  position: absolute;
  transform: rotateZ(-90deg);
  left: -200px;
  bottom: 180px;
  height: 8px;
  border: none;
  border-radius: 0px;
  background: rgba(255,255,255,0.25);
}
}

/* CONTENT BOX ANIMATION BORDER */
@keyframes bg {
  0% {
      background-size:    0 8px,
                          8px 0,
                          0 8px,
                          8px 0;
  }
  25% {
      background-size:    100% 8px,
                          8px 0,
                          0 8px,
                          8px 0;
  }
  50% {
      background-size:    100% 8px,
                          8px 100%,
                          0 8px,
                          8px 0;
  }
  75% {
      background-size:    100% 8px,
                          8px 100%,
                          100% 8px,
                          8px 0;
  }
  100% {
      background-size:    100% 8px,
                          8px 100%,
                          100% 8px,
                          8px 100%;
  }
}

.slide-1-border, .slide-2-border, .slide-3-border {
  width: 40vw;
  padding: 2rem;
  display: flex;
  height: 500px;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-image:   linear-gradient(to right,rgb(174, 145, 50) 100%,rgb(174, 145, 50) 100%),
                      linear-gradient(to bottom,rgb(174, 145, 50) 100%,rgb(174, 145, 50) 100%),
                      linear-gradient(to right,rgb(174, 145, 50) 100%,rgb(174, 145, 50) 100%),
                      linear-gradient(to bottom,rgb(174, 145, 50) 100%,rgb(174, 145, 50) 100%);
  background-size:    100% 8px,
                      8px 100%,
                      100% 8px,
                      8px 100%;
  background-position:    100% 100%,
                          0 100%,
                          0 0,
                          100% 0;
  animation: bg 5s cubic-bezier(0.19, 1, 0.22, 1) 1;
  animation-delay: 0.35s;
  animation-play-state: running;
}

@media screen and (max-width: 767px) {
  .slide-1-border, .slide-2-border, .slide-3-border {
    background-image: none;
    width: 90%;
    height: auto;
    padding-left: 5%;
  }

  p {
    display: none;
  }
}

/* FOOTER STYLE */
/* .footer-link {
  color: rgb(61, 64, 66);
  font-weight: bold;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}

.fa-chevron-right {
  display: none;
}

.footer-link-icon {
  color: rgb(100, 102, 104);
  display: flex;
  align-items: center;
  transition: color 0.25s;
}

.footer-link-icon:hover {
  color: rgb(61, 64, 66);
}

.custom-padding {
  padding-top: 60px;
  padding-bottom: 20px;
}

.footer-text {
  color: rgb(61, 64, 66);
  text-align: center;
}

a:hover {
  text-decoration: none;
}

@media screen and (max-width: 575px) {
  .fa-chevron-right {
    display: block;
  }

  .responsive {
    flex-direction: column;
  }
} */

/* Timer */
.timer-section {
  /* background: rgb(15,117,189); */
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.66) 0%, rgba(0, 0, 0, 0) 100%), url(../../assets/time-left.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  display: flex;
  justify-content: center;
  margin-bottom: 130px;
  box-shadow: 0px 0px 15px 0px rgb(0, 0, 0, 0.3) !important;
}

.section-heading {
  padding-left: 0px;
  padding-top: 3rem;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #ffffff;
}

.outer-block {
  position: absolute;
  background: #ffffff;
  margin-top: 130px;
  box-shadow: 0px 0px 15px 0px rgb(0, 0, 0, 0.3) !important;
}

/* Stats */
.stats-section {
  /* background: rgb(15,117,189); */
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.66) 0%, rgba(0, 0, 0, 0) 100%), url("https://cdn.northerntrust.com/pws/nt/hero/cis-alt-asset-services-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 5vh;
  height: 300px;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.stats-block-padding {
  padding: 5rem 0;
}

.active-stats {
  font-size: 2.5rem;
  text-align: center;
  color: rgb(174, 145, 50);
}

.outer-stats-block {
  display: flex;
  justify-content: space-evenly;
}

.inner-stats-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-number-text {
  font-size: 56px;
  font-weight: bold;
  color: rgb(61, 64, 66);
}

.stats-static-text {
  font-size: 20px;
  color: rgb(61, 64, 66);
  text-align: center;
}

@media screen and (max-width: 767px) {
  .stats-number-text {
      font-size: 42px;
  }
  
  .stats-static-text {
      font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .stats-number-text {
      font-size: 28px;
  }
  
  .stats-static-text {
      font-size: 20px;
  }
}

@media screen and (max-width: 400px) {    
  .stats-static-text {
      font-size: 15px;
  }
}

/* Our method section */
.our-method-section {
  background: rgb(15,117,189);
  padding-top: 1.75rem;
  margin-top: 5vh;
}
