/* NAVBAR */
.custom-navbar {
    /* background: rgba(0,0,0,0.05); */
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
    transition: background linear 0.2s;
}
.navbar-inverse{
   background-color: #264a99;
}

.margin-top {
    align-items: center;
}

.nav-link {
    letter-spacing: 2px;
    transition: color 0.25s;
    cursor: pointer;
}

.navbar-toggler, .navbar-toggler:focus {
    border: none;
    outline: none;
}

.register-button {
    align-self: center;
}

@media screen and (max-width: 990px) {
    .margin-top {
        padding: 1.5rem;
        margin-top: 1rem;
        background: linear-gradient(135deg, rgba(38,74,153,0.99) 20%, rgba(64,123,255,0.99) 100%);
        border-radius: 3px;
        align-items: center;
    }

    .register-button {
        /* margin: 0.5rem 0 0 0 !important; */
        display: none;
    }

    .nav-link {
        padding: 1rem;
    }
}

/* LANDING PAGE */
.bg {
    background:linear-gradient(135deg, rgba(38,74,153,0.95) 20%, rgba(64,123,255,0) 100%), url(../../assets/speech.jpg);
    height: 700px;
    position: relative;
    z-index: 1;
    background-position: bottom center;
    background-size: cover;
    padding-top: 210px;
    transition: height 0.5s;
}

.heading-section {
    align-self: center;
}

.heading {
    font-size: 86px;
    color: #ffffff;
    font-weight: 700;
    line-height: 1.35;
    transition: font-size 0.5s;
}

.sub-heading {
    font-size: 18px;
    color: #ffffff;
    font-weight: 300;
    margin-bottom: 3rem;
}

@media screen and (max-width: 990px) {    
    .heading {
        font-size: 60px;
        margin-bottom: 0.5rem;
    }
}

@media screen and (max-width: 767px) {
    .bg {
        background-position-x: right;
    }

    .heading {
        font-size: 54px;
        margin-bottom: 0.5rem;
    }

    .sub-heading {
        margin-bottom: 1.5rem;
    }

    .responsive-align {
        flex-direction: column-reverse;
    }

    .doodle {
        width: auto;
        height: 285px;
    }

    .responsive-margin {
        margin-top: 1.5rem;
    }
}

/* @media screen and (max-width: 500px) {
    .bg {
        height: 875px;
    }
} */

@media screen and (max-width: 455px) {
    .heading {
        font-size: 38px;
        margin-bottom: 0.5rem;
    }
}

/* @media screen and (max-width: 400px) {
    .bg {
        height: 775px;
    }
} */

/* LANDING PAGE */

/* Who are we page */

h1 {
    color: rgba(38,74,153,1);
    margin-bottom: 15px;
    margin-top: 60px;
}

.line-shape {
    width: 80px;
    height: 3px;
    background:rgba(64,123,255,1);
    border-radius: 10px;
    margin-left: calc(50% - 40px);
    margin-bottom: 50px;
}

.content-section {
    line-height: 30px;
    font-size: 20px;
}

/* Who are we page */

/* Events */

.card {
    border: 3px solid rgba(0,0,0,0.2);
    border-radius: 20px 20px 20px 0px;
    box-shadow: 0 10px 25px -15px rgba(0, 0, 0, 0.5);
}

/* Events */

/* Testimonials */

.slider {
    height: 350px;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slider__nav {
    width: 12px;
    height: 12px;
    margin: 2rem 20px;
    border-radius: 50%;
    z-index: 10;
    outline: 6px solid #ccc;
    outline-offset: -6px;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    cursor: pointer;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .slider__nav:checked {
    -webkit-animation: check 0.4s linear forwards;
            animation: check 0.4s linear forwards;
  }
  .slider__nav:checked:nth-of-type(1) ~ .slider__inner {
    left: 0%;
  }
  .slider__nav:checked:nth-of-type(2) ~ .slider__inner {
    left: -100%;
  }
  .slider__nav:checked:nth-of-type(3) ~ .slider__inner {
    left: -200%;
  }
  .slider__nav:checked:nth-of-type(4) ~ .slider__inner {
    left: -300%;
  }
  .slider__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    -webkit-transition: left 0.4s;
    transition: left 0.4s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .slider__contents {
    height: 100%;
    /* padding: 2rem; */
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slider__image {
    font-size: 2.7rem;
        color: #2196F3;
  }
  .slider__caption {
    font-weight: 500;
    margin: 2rem 0 1rem;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
  }
  .slider__txt {
    color: #999;
    margin: 1.5rem 0 3rem 0;
    max-width: 300px;
  }
  
  @-webkit-keyframes check {
    50% {
      outline-color: #333;
      box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
      outline-color: #333;
      box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
  }
  
  @keyframes check {
    50% {
      outline-color: #333;
      box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
      outline-color: #333;
      box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
  }

/* Testimonials */

/* Team */

.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

/* Team */

/* Get in touch */

.content-alignment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* Get in touch */

footer {
    background-color: #264a99; 
    color: white !important;
}

.footer {
    text-align: center;
    background: #162c5b;
    color: white;
    padding: 8px 0px;
    font-size: 12px;
}

.move-top {
    position: fixed;
    z-index: 9999999999;
    display: block;
    bottom: 0;
    right: 50px;
    width: 40px;
    background: #264a99;
    color: white;
    height: 34px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    box-shadow: 0px 0px 20px 4px rgba(38,74,153,0.5);
}

.move-top:hover {
    color: white;
}
