.header {
    background: #0F75BD;
    height: 400px;
    position: absolute;
    width: 100%;
    z-index: -1;
    box-shadow: 0px 0px 15px 0px rgb(0, 0, 0, 0.3) !important;
}

.heading {
    font-size: 2.5rem;
    margin: 3rem 0rem 1.5rem 0rem;
    color: #ffffff;
    font-weight: bold;
    animation: top-to-bottom 0.75s;
}

.sub-header {
    max-width: 750px;
}

.sub-heading {
    font-size: 1.25rem;
    color: #ffffff;
    animation: top-to-bottom 0.75s;
}

.outer-section {
    padding-top: 16rem;
}

.inner-section {
    background: #ffffff;
    box-shadow: 0px 0px 15px 0px rgb(0, 0, 0, 0.3) !important;
    animation: bottom-to-top 0.75s;
}

@media screen and (max-width: 575px) {
    .sub-header {
        display: none;
    }

    .outer-section {
        padding-top: 9.5rem;
    }
}


/* BUTTONS */
.btn-primary {
    border: none;
    border-radius: 0px;
    background-color: #0F75BD;
    text-transform: uppercase;
    padding: 10px 15px;
    transition: all 0.5s;
}

.btn-primary:hover {
    background-color: rgb(9, 59, 43);
}

.btn-secondary {
    border: none;
    border-radius: 0px;
    background-color: rgb(10, 122, 130);
    text-transform: uppercase;
    padding: 10px 15px;
    transition: background-color 0.75s;
}

.btn-secondary:hover {
    background-color: #05373b;
}

.btn-danger {
    border: none;
    border-radius: 0px;
    background-color: #dc3545;
    text-transform: uppercase;
    padding: 10px 15px;
    transition: all 0.5s;
}

.btn-danger:hover {
    background-color: #a71d2a;
}
/* BUTTONS */

/* INPUT FIELDS */
.form-group {
    margin-bottom: 2rem;
}

.form-control {
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #0F75BD;
    transform: all 0.5s;  
}

.form-control:focus {
    box-shadow: none;
    border-bottom: 2px solid #0F75BD;
}

.required {
    color: #dc3545;
}

.form-check-label:hover {
    cursor: pointer;
    text-decoration: underline;
}

::ng-deep .iti {
    width: 100%;
}

::ng-deep input[type="tel"] {
    width: 100% !important;
    border: none;
    border-bottom: 1px solid #0F75BD;
    padding: 0.375rem 0.75rem;
    border-radius: 0px;
}

::ng-deep input[type="tel"]:focus {
    border: none;
    border-bottom: 2px solid #0F75BD;
    outline: none !important;
}
/* INPUT FIELDS */