<div class="container custom-padding">
  <div class="row justify-content-between pb-4">
    <div class="col-md-5 col-sm-6 col-xs-12 d-flex justify-content-between responsive">
      <a class="footer-link" routerLink="/team">Our Team &nbsp;<i class="fa fa-chevron-right"
          style="color: rgb(61, 64, 66);"></i></a>
      <a class="footer-link" routerLink="/about-us">Contact Us &nbsp;<i class="fa fa-chevron-right"
          style="color: rgb(61, 64, 66);"></i></a>
      <a class="footer-link" routerLink="/about-us">About Us &nbsp;<i class="fa fa-chevron-right"
          style="color: rgb(61, 64, 66);"></i></a>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 d-flex justify-content-around">
      <a class="footer-link" target="_blank" href="mailto:info.ipss2021@gmail.com"><i class="fa fa-2x fa-envelope footer-link-icon"></i></a>
      <a class="footer-link" target="_blank" href="https://www.instagram.com/ipss2021/"><i class="fa fa-2x fa-instagram footer-link-icon"></i></a>
      <a class="footer-link" target="_blank" href="https://www.facebook.com/IPSS2021/"><i class="fa fa-2x fa-facebook-square footer-link-icon"></i></a>
      <a class="footer-link" target="_blank" href="https://www.linkedin.com/authwall?trk=gf&trkInfo=AQHxd64kPog1KAAAAXZV4C5gkaFGxuhmfYacELvAdCe7RCgG0j-tYm1vu4kwhRD4B9GmWUInbQf3lUqvYf6UZkEXT8JTOqtsk3tQR5bqvRTNEDkZCLPQ-KRewlk-C4xSjz-6S2c=&originalReferer=https://www.flow.page/&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fin%2Finternational-public-speaking-summit-5309141b6%2F"><i class="fa fa-2x fa-linkedin-square footer-link-icon"></i></a>
    </div>
  </div>

  <div class="row">
    <div class="col-12 footer-text">
      &copy; 2020 International Public Speaking Summit.
    </div>
  </div>
</div>