<div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Participations graph</h5>
            <canvas id="myChart"></canvas>
            
          </div>
        </div>
      </div>
      <div class="col-md-3 card-align">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Total events</h5>
            <h6 class="card-subtitle mb-2 text-muted">12</h6>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Total participants</h5>
            <h6 class="card-subtitle mb-2 text-muted">396</h6>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Other stats parameter</h5>
            <h6 class="card-subtitle mb-2 text-muted">76</h6>
          </div>
        </div>
      </div>
    </div>

  </div>