<app-breadcrumbs></app-breadcrumbs>




<div>

  <header class="header">
    <div class="container">
      <div class="row">
        <div class="col-12 heading">
          About Us
        </div>
        <div class="col-12 sub-header">
          <div class="sub-heading">
            The Federation is a one-of-a-kind organization based in India, founded in June 2016.
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="outer-section">
    <div class="container">

      <div class="row inner-section p-5">
        <div class="col-12">
          <div class="row align-items-center">
            <div class="col-md-2 col-sm-12 col-xs-12 numbering">01</div>
            <div class="col-md-10 col-sm-12 col-xs-12 topic-heading">About the Organisation</div>
          </div>
          <div class="row">
            <div class="col-2 col-sm-0 col-xs-0"></div>
            <div class="col-md-10 col-sm-12 col-xs-12">
              <div class="topic-content">The Federation is a one-of-a-kind organization based in India, founded in June 2016 by Mr. Varun Jain. Our organisational setup comprises of young visionaries who see massive potential in the future of public speaking and seek to revolutionize the way it is structured. 
              </div>
              <div class="topic-content">Through our collaborations with various premier institutions, we ensure that local institutions conducting public speaking events meet the standards of the events conducted at the global level. Our team equips the institution, the participating students, and other staff members with the latest criteria, structures and other essential requisites needed for a successful public speaking summit. The knowledge acquired consequently is spread to other organisations such that Indian public speaking competitions become worthy mediums of learning. </div>
              <div class="topic-content">We work to promote international connectivity by entering into fruitful collaborations with all kinds of institutions including NGOs, Youth Organisations, etc. that are actively organizing various public speaking events at a global level. Since our inception, we have established operations in several Indian states as well as other countries. We have also expanded to accommodate a variety of departments such as MUN Conferences, Youth Parliament, International Press, Open Mics, Public Forum Debates, Speaking to Inform and Persuade, Conventional Debates, etc.</div>
              <div class="topic-content">We strive to impart knowledge and innovate in terms of public speaking styles.</div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row align-items-center">
            <div class="col-md-2 col-sm-12 col-xs-12 numbering">02</div>
            <div class="col-md-10 col-sm-12 col-xs-12 topic-heading">Latest work</div>
          </div>
          <div class="row">
            <div class="col-2 col-sm-0 col-xs-0"></div>
            <div class="col-md-10 col-sm-12 col-xs-12">
              <div class="topic-content">We are currently in the process of inventing new forms of debating. We will also be setting up our own debating house in which we introduce new public speaking styles and reinvent the existing ones. We will also be organising various workshops and training sessions for the same.</div>
              <div class="topic-content">We recently ventured into the realms of global climate change, social work, creative writing and artwork as well.</div> 
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row align-items-center">
            <div class="col-md-2 col-sm-12 col-xs-12 numbering">03</div>
            <div class="col-md-10 col-sm-12 col-xs-12 topic-heading">Partner Countries</div>
          </div>
          <div class="row">
            <div class="col-2 col-sm-0 col-xs-0"></div>
            <div class="col-md-10 col-sm-12 col-xs-12">
              <div class="topic-content">We provide global exposure extending to various countries in Asia, Africa, Australia and Europe. We have successfully set up teams at international locations such as Singapore, Indonesia, Afghanistan, Thailand, Georgia, etc.</div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row align-items-center">
            <div class="col-md-2 col-sm-12 col-xs-12 numbering">04</div>
            <div class="col-md-10 col-sm-12 col-xs-12 topic-heading">Corporate Social Responsibility</div>
          </div>
          <div class="row">
            <div class="col-2 col-sm-0 col-xs-0"></div>
            <div class="col-md-10 col-sm-12 col-xs-12">
              <div class="topic-content">Mental health is a grave concern in today’s world. Various countries have realized its importance and are, therefore, taking steps to deal with it and create mental awareness among their people.</div>
              <div class="topic-content">IPSS’s mission and vision are to promote checking up frequently on one’s mental health. Since our entire event revolves around public speaking, we also want to take this opportunity to de-stigmatize and normalize talking about it.</div>
              <div class="topic-content">IPSS is also pleased to be providing free entry to underprivileged children and looking to collaborate with various NGOs to achieve active participation of the disadvantaged.</div>
              <div class="topic-content">As this event has been ideated and organized by the youth, it automatically and almost instinctively holds itself responsible to disseminate awareness and correct facts about mental health. We are a safe and trusting platform, not only celebrating the existence of public speaking but also feeling accountable for what we believe in.</div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row align-items-center">
            <div class="col-md-2 col-sm-12 col-xs-12 numbering">05</div>
            <div class="col-md-10 col-sm-12 col-xs-12 topic-heading">Collaborations</div>
          </div>
          <div class="row">
            <div class="col-2 col-sm-0 col-xs-0"></div>
            <div class="col-md-10 col-sm-12 col-xs-12">
              <div class="topic-content">Do you want to collaborate with us on this enterprising journey?
              </div>
              <div class="topic-content">IPSS’s mission and vision are to promote checking up frequently on one’s mental health. Since our entire event revolves around public speaking, we also want to take this opportunity to de-stigmatize and normalize talking about it.</div>
              <div class="topic-content">We are open to collaborations with <strong class="topic-content">Main Partners, Knowledge Partners, Promotion Partners and Media Partners.</strong></div>
              <div class="topic-content">Interested agencies/organisations can contact us at <strong class="topic-content"><a href="mailto:info.ipss2021@gmail.com" class="mail-to topic-content">info.ipss2021@gmail.com</a></strong> or call at <strong class="topic-content">+91-9811214442</strong> for more information or any queries.</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

</div>