<app-breadcrumbs></app-breadcrumbs>

<div>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-12 heading">
                    Register for Events
                </div>
                <div class="col-12 sub-header">
                    <div class="sub-heading">
                        Register here for events related to International Public Speaking Summit. You can also find the details of our events below.
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="outer-section">
        <div class="container">
            <div class="row inner-section p-5">

                <div class="col-12">
                    <div class="row align-items-center">
                        <div class="col-md-2 col-sm-12 col-xs-12 numbering">01</div>
                        <div class="col-md-10 col-sm-12 col-xs-12 topic-heading">Register for Events</div>
                    </div>
                    <div class="row">
                        <div class="col-2 col-sm-0 col-xs-0"></div>
                        <div class="col-md-10 col-sm-12 col-xs-12 topic-heading">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12 topic-content h-100"
                                    *ngFor="let eventDetail of eventDetails">
                                    <div class="card">
                                        <div class="content">
                                            <h6>{{eventDetail.name}}</h6>
                                            <div class="hover_content">
                                                <p>{{eventDetail.description}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                  <button class="btn btn-primary" (click)="RegisterHere()">Click Here to <strong>Register</strong> for any event</button>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-12">
                                  <button class="btn btn-primary" (click)="GetPaymentReciept()">Click Here to get payment details</button>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-12">
                                  <button class="btn btn-primary" (click)="OpenMicAudienceForm()">Click Here to <strong>Register</strong> as audience for Open Mic.</button>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>