<div class="timer-font">
    <!-- <h1>Event date: {{enddate}}!</h1> -->
    <div class="outer-timer-block">
    <div class="inner-timer-block">
        <span class="timer-number-text">{{_days}}</span><span class="timer-static-text">DAYS</span>
    </div>
    <div class="inner-timer-block">
        <span class="timer-number-text">{{_hours}}</span><span class="timer-static-text">HOURS</span>
    </div>
    <div class="inner-timer-block">
        <span class="timer-number-text">{{_minutes}}</span><span class="timer-static-text">MINUTES</span>
    </div>
    <div class="inner-timer-block">
        <span class="timer-number-text">{{_seconds}}</span><span class="timer-static-text">SECONDS</span>
    </div>
</div>