<app-breadcrumbs></app-breadcrumbs>

<div>
  <header class="header">
    <div class="container">
      <div class="row">
        <div class="col-12 heading">
          Our Team
        </div>
        <div class="col-12 sub-header">
          <div class="sub-heading">
            We have a diverse group of people from different parts of India engaging in our
                Marketing team, Content writing team, Organising team, Core Knowledge-based team, Public Relations’ and
                Communications’ teams as well as Designing team.
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="outer-section">
    <div class="container">
      <div class="row inner-section p-5">

        <div class="col-12">
          <div class="row align-items-center">
            <div class="col-md-2 col-sm-12 col-xs-12 numbering">01</div>
            <div class="col-md-10 col-sm-12 col-xs-12 topic-heading">Team structure</div>
          </div>
          <div class="row">
            <div class="col-2 col-sm-0 col-xs-0"></div>
            <div class="col-md-10 col-sm-12 col-xs-12">
              <div class="topic-content">We have a diverse group of people from different parts of India engaging in our
                Marketing team, Content writing team, Organising team, Core Knowledge-based team, Public Relations’ and
                Communications’ teams as well as Designing team.</div>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="row align-items-center">
            <div class="col-md-2 col-sm-12 col-xs-12 numbering">02</div>
            <div class="col-md-10 col-sm-12 col-xs-12 topic-heading">About our Founder and Team</div>
          </div>
          <div class="row">
            <div class="col-2 col-sm-0 col-xs-0"></div>
            <div class="col-md-10 col-sm-12 col-xs-12">
              <div class="topic-content"><strong class="topic-content">Mr. Varun Jain</strong> is not only the event’s
                founder. He is also an ISBF alumnus with a degree in Business Management.</div>
              <div class="topic-content">Currently working as a risk analyst at ‘EY’, his motivation is to bring public
                speaking to various backgrounds and eliminate the exclusion attached to it</div>
              <div class="topic-content">Having done many speaking events himself, Varun correctly comprehends the
                nervousness and fear that arises during public speaking. By heading an event as novel as IPSS, he hopes
                that people both afraid and unafraid of public speaking feel comfortable to bring forth their delightful
                sets of opinions onto the forum and learn memorable lessons from the event. </div>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="row align-items-center">
            <div class="col-md-2 col-sm-12 col-xs-12 numbering">03</div>
            <div class="col-md-10 col-sm-12 col-xs-12 topic-heading">Vice Presidents</div>
          </div>
          <div class="row">
            <div class="col-2 col-sm-0 col-xs-0"></div>
            <div class="col-md-10 col-sm-12 col-xs-12">
              <div class="topic-content">
                <ul class="mt-2">
                  <li class="points topic-content">
                    <strong class="topic-content">Paayas Kucheria</strong>
                  </li>
                  <li class="points topic-content">
                    <strong class="topic-content">Mridula Raghunandan</strong>
                  </li>
                  <li class="points topic-content">
                    <strong class="topic-content">Nilansha Bansal</strong>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="row align-items-center">
            <div class="col-md-2 col-sm-12 col-xs-12 numbering">04</div>
            <div class="col-md-10 col-sm-12 col-xs-12 topic-heading">Associate Vice President </div>
          </div>
          <div class="row">
            <div class="col-2 col-sm-0 col-xs-0"></div>
            <div class="col-md-10 col-sm-12 col-xs-12">
              <div class="topic-content">
                <ul class="mt-2">
                  <li class="points topic-content">
                    <strong class="topic-content">Sukruthi</strong>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="row align-items-center">
            <div class="col-md-2 col-sm-12 col-xs-12 numbering">05</div>
            <div class="col-md-10 col-sm-12 col-xs-12 topic-heading">Regional Heads: </div>
          </div>
          <div class="row">
            <div class="col-2 col-sm-0 col-xs-0"></div>
            <div class="col-md-10 col-sm-12 col-xs-12">
              <div class="topic-content">
                <ul class="mt-2">
                  <li class="points topic-content">
                    <strong class="topic-content">South India- Mridula Raghunandan</strong>
                  </li>
                  <li class="points topic-content">
                    <strong class="topic-content">Jammu & Kashmir- Shakir</strong>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="row align-items-center">
            <div class="col-md-2 col-sm-12 col-xs-12 numbering">06</div>
            <div class="col-md-10 col-sm-12 col-xs-12 topic-heading">Department Heads: </div>
          </div>
          <div class="row">
            <div class="col-2 col-sm-0 col-xs-0"></div>
            <div class="col-md-10 col-sm-12 col-xs-12">
              <div class="topic-content">
                <ul class="mt-2">
                  <li class="points topic-content">
                    <strong class="topic-content">Foreign Relations - Sukruthi</strong>
                  </li>
                  <li class="points topic-content">
                    <strong class="topic-content">PR & Marketing</strong>
                    <ul class="mt-2">
                      <li class="points topic-content">
                        <strong class="topic-content">Sparsh Garg (North India)</strong>
                      </li>
                      <li class="points topic-content">
                        <strong class="topic-content">Niveditha (South India)</strong>
                      </li>
                    </ul>
                  </li>
                  <li class="points topic-content">
                    <strong class="topic-content">Communications - Nishika</strong>
                  </li>
                  <li class="points topic-content">
                    <strong class="topic-content">Content - Avantika Singhal</strong>
                  </li>
                  <li class="points topic-content">
                    <strong class="topic-content">Knowledge - Soujanya</strong>
                  </li>
                  <li class="points topic-content">
                    <strong class="topic-content">Campus Ambassador -  Mahitha</strong>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="row align-items-center">
            <div class="col-md-2 col-sm-12 col-xs-12 numbering">07</div>
            <div class="col-md-10 col-sm-12 col-xs-12 topic-heading">Country Operational Heads</div>
          </div>
          <div class="row">
            <div class="col-2 col-sm-0 col-xs-0"></div>
            <div class="col-md-10 col-sm-12 col-xs-12">
              <div class="topic-content">
                <ul class="mt-2">
                  <li class="points topic-content">
                    <strong class="topic-content">MARVEL (Singapore)</strong>
                  </li>
                  <li class="points topic-content">
                    <strong class="topic-content">QUDSIA (Afghanistan)</strong>
                  </li>
                  <li class="points topic-content">
                    <strong class="topic-content">ESTHER (Indonesia)</strong>
                  </li>
                  <li class="points topic-content">
                    <strong class="topic-content">MADURI (Georgia)</strong>
                  </li>
                  <li class="points topic-content">
                    <strong class="topic-content">VALENTINE (Zimbabwe)</strong>
                  </li>
                  <li class="points topic-content">
                    <strong class="topic-content">NADIR (Tanzania)</strong>
                  </li>
                  <li class="points topic-content">
                    <strong class="topic-content">SHATOO (Iraq)</strong>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
