<div class="container-fluid">
  
  <div class="row">
    <div class="col-12 pb-3 page-heading">
      Participants
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 pb-3">
      <div class="input-group custom-search-shadow">
        <input type="text" class="form-control" placeholder="Search...">
        <div class="input-group-append">
          <button class="btn remove-shadow" style="cursor: auto;"><i class='fa fa-search'></i></button>
        </div>
      </div>
    </div>

    <div class="col-md-8 pb-3 text-right">
        <button class="btn">Add Participant</button>
    </div>  
  </div>

  <div class="row mx-0">
    <table>
      <thead>
        <tr class="border-0">
          <th scope="col">Name</th>
          <th scope="col">Event</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-label="Account">Event name 1</td>
          <td data-label="Due Date">Event #1</td>
          <td><i class="fa fa-lg fa-pencil"></i></td>
          <td><i class="fa fa-lg fa-trash"></i></td>
        </tr>
        <tr>
          <td scope="row" data-label="Account">Event name 1</td>
          <td data-label="Due Date">Event #3</td>
          <td><i class="fa fa-lg fa-pencil"></i></td>
          <td><i class="fa fa-lg fa-trash"></i></td>
        </tr>
        <tr>
          <td scope="row" data-label="Account">Event name 3</td>
          <td data-label="Due Date">Event #5</td>
          <td><i class="fa fa-lg fa-pencil"></i></td>
          <td><i class="fa fa-lg fa-trash"></i></td>
        </tr>
        <tr>
          <td scope="row" data-label="Acount">Event name 4</td>
          <td data-label="Due Date">Event #1</td>
          <td><i class="fa fa-lg fa-pencil"></i></td>
          <td><i class="fa fa-lg fa-trash"></i></td>
        </tr>
        <tr>
          <td data-label="Account">Event name 1</td>
          <td data-label="Due Date">Event #8</td>
          <td><i class="fa fa-lg fa-pencil"></i></td>
          <td><i class="fa fa-lg fa-trash"></i></td>
        </tr>
        <tr>
          <td scope="row" data-label="Account">Event name 1</td>
          <td data-label="Due Date">Event #14</td>
          <td><i class="fa fa-lg fa-pencil"></i></td>
          <td><i class="fa fa-lg fa-trash"></i></td>
        </tr>
        <tr>
          <td scope="row" data-label="Account">Event name 3</td>
          <td data-label="Due Date">Event #1</td>
          <td><i class="fa fa-lg fa-pencil"></i></td>
          <td><i class="fa fa-lg fa-trash"></i></td>
        </tr>
        <tr>
          <td scope="row" data-label="Acount">Event name 4</td>
          <td data-label="Due Date">Event #5</td>
          <td><i class="fa fa-lg fa-pencil"></i></td>
          <td><i class="fa fa-lg fa-trash"></i></td>
        </tr>
        <tr>
          <td data-label="Account">Event name 1</td>
          <td data-label="Due Date">Event #11</td>
          <td><i class="fa fa-lg fa-pencil"></i></td>
          <td><i class="fa fa-lg fa-trash"></i></td>
        </tr>
        <tr>
          <td scope="row" data-label="Account">Event name 1</td>
          <td data-label="Due Date">Event #2</td>
          <td><i class="fa fa-lg fa-pencil"></i></td>
          <td><i class="fa fa-lg fa-trash"></i></td>
        </tr>
        <tr>
          <td scope="row" data-label="Account">Event name 3</td>
          <td data-label="Due Date">Event #1</td>
          <td><i class="fa fa-lg fa-pencil"></i></td>
          <td><i class="fa fa-lg fa-trash"></i></td>
        </tr>
        <tr>
          <td scope="row" data-label="Acount">Event name 4</td>
          <td data-label="Due Date">Event #7</td>
          <td><i class="fa fa-lg fa-pencil"></i></td>
          <td><i class="fa fa-lg fa-trash"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>